@import 'src/assets/styles/flex_box.scss';

.select-nav-container {
  width: 100%;
  position: relative;
  padding: 10px 20px 0px;
  .select-nav-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    .nav-left {
      .nav-item {
        font-size: 13px;
        margin-right: 15px;
        color: #8e8d8d;
        &.select {
          font-size: 14px;
          color: #2c2c2c;
        }
      }
    }
    .nav-right {
      .nav-item {
        font-size: 13px;
        margin-left: 15px;
        color: #3b3b3b;
        background-color: #f7f8f9;
        padding: 5px 12px;
        border-radius: 4px;
        &.select {
          font-size: flex_pt(15);
          color: #2c2c2c;
        }
      }
    }
  }
}
