.login {
  z-index: 5;
  width: 100%;
  position: relative;
  footer {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
  }
  .loginBtnList {
    position: absolute;
    top: 45%;
    width: 80%;
    left: 10%;
    text-align: center;
    font-size: 12px;
    input {
      width: 90%;
      padding-left: 48px;
      height: 46px;
      border-radius: 20px;
      border: 0px;
      color: #fff;
      background-color: rgba(251, 238, 238, 0.35);
      font-size: 1.33em;
      margin-bottom: 20px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #fff;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #fff;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
      color: #fff;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #fff;
    }
    .voice {
      margin-bottom: 40px;
      color: #fff;
      font-size: 13px;
      u {
        color: #84e8d0;
      }
    }
    .codeBtn {
      position: relative;
      .getCode {
        display: inline-block;
        border-radius: 20px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 6px;
        position: absolute;
        right: 30px;
        top: 10px;
        cursor: pointer;
      }
    }
    .btnLogo {
      position: absolute;
      top: 9px;
      left: 20px;
      display: inline-block;
      border-right: 1px solid #fff;
      width: 35px;
      img {
        width: 28px;
      }
    }
  }
  .loginFooter {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
  }
}
.passwordLogin {
  z-index: 6;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
}
.loginTransform {
  transform: translateX(0px);
  -ms-transform: translateX(0px); /* IE 9 */
  -moz-transform: translateX(0px); /* Firefox */
  -webkit-transform: translateX(0px); /* Safari å’Œ Chrome */
  -o-transform: translateX(0px);
}
.passwordLoginRight {
  z-index: 6;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}
.paslogin {
  z-index: 10;
  width: 100%;
  position: relative;
  footer {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
  }
  .loginBtnList {
    position: absolute;
    top: 45%;
    width: 80%;
    left: 10%;
    text-align: center;
    font-size: 12px;
    input {
      width: 90%;
      padding-left: 48px;
      height: 46px;
      border-radius: 20px;
      border: 0px;
      color: #fff;
      background-color: rgba(251, 238, 238, 0.35);
      font-size: 1.33em;
      margin-bottom: 20px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #fff;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #fff;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
      color: #fff;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #fff;
    }
    .voice {
      margin-bottom: 40px;
      color: #fff;
      font-size: 13px;
      u {
        color: #84e8d0;
      }
    }
    .codeBtn {
      position: relative;
      .getCode {
        display: inline-block;
        border-radius: 20px;
        // border: 2px solid #fff;
        color: #fff;
        padding: 3px 6px;
        position: absolute;
        right: 30px;
        top: 10px;
        cursor: pointer;
        img {
          width: 20px;
        }
      }
    }
    .btnLogo {
      position: absolute;
      top: 9px;
      left: 20px;
      display: inline-block;
      border-right: 1px solid #fff;
      width: 35px;
      img {
        width: 28px;
      }
    }
  }
}

.loginBtn {
  width: 90%;
  display: inline-block;
  height: 46px;
  border-radius: 20px;
  text-align: center;
  border: 0px;
  background-color: hsl(165, 53%, 64%);
  color: #fff;
  font-size: 1.33em;
}

.loginFullFooter {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.loginTitle {
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 1.3em;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0px;
  left: 10px;
}
