@import 'src/assets/styles/flex_box.scss';
.header-left {
  font-size: 18px;
  letter-spacing: 0.5px;
}

.company-container {
  background-color: #f8f8f8;
  .conpany-list-item {
    display: flex;
    margin-bottom: 6px;
    padding: 16px 16px 12px;
    background-color: #fff;
    .logo-box {
      margin-right: 12px;
      .company-logo {
        width: 48px;
        height: 48px;
        border: 1px solid #c2c2c2;
      }
    }
    .company-info-box {
      flex: 1;
      .company-title {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.5px;
      }
      .company-introduce {
        margin-top: 8px;
        font-size: 13px;
        .intro-item {
          margin-right: 5px;
        }
      }
      .company-info {
        margin-top: 10px;
        font-size: 12px;
        .text-box {
          background-color: #f7f8f9;
          padding: 5px 10px;
          margin-left: 8px;
          &:first-child {
            margin-left: 0px;
          }
        }
      }
      .company-position {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border-top: 1px solid #ececec;
        padding-top: 12px;
        align-items: center;
        .icon {
          transform: scale(0.75, 1.5);
        }
      }
    }
  }
}
